<% if user_signed_in? %>
<div class = "col-md-4">
  <h2>ゲーム募しよう！</h2>
  <div class = "jumbotron mt-4">
    <%= form_for Tweet.new do |f| %>
      <%= f.text_area :content, class:"form-control" %>
      <%= f.submit '募集する', class:"btn btn-primary bosyu" %>
    <% end %>
  </div>
  <% @tweets.each do |tweet| %>
    <div class ="jumbotron mt-2">
      <p><%= tweet.created_at.strftime('%Y/%m/%d') %></p>
      <p><%= attachment_image_tag tweet.user, :profile_image, format: 'jpeg', class:"attachment user profile_image", fallback: "no_image.jpg", size:"40x40" %>
      <p><%= tweet.content %></p>
    </div>
  <% end %>

</div>

<% else %>
    <div class ="container home">
      <div class="row1">
			  <div class="col-md-12">
            <h1>最高の仲間を探そう。</h1>
          <p>
            <%= link_to "ログイン", new_user_session_path, class:"btn btn-info" %>
          
            <%= link_to "新規登録", new_user_registration_path, class:"btn btn-success" %>
          </p>
          </div>
      </div>
    </div>
<% end %>