<div class = "container">
<h1>Tweets#index</h1>
<p>Find me in app/views/tweets/index.html.erb</p>
<%= form_for Tweet.new do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>
<% @tweets.each do |tweet| %>
  <p><%= tweet.content %></p>
<% end %>
